body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.header {
    height: 50px;
    width: auto;
    background-color: #3882f6;
    margin-top: 0px;
    
    display: flex;
}

ul {
    margin: auto;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: auto;
    gap: 12px;
}

li.logo {
    flex: 1;
    font-size: larger;
    font-weight: bold;
    color: white;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.bodyOne {
    height: 275px;
    width: auto;
    background-color: #1F2937;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 24px;
}

.bols {
    height: 200px;
    width: 450px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: auto;
}

.boh {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700;
}

.bos {
    color: #E5E7EB;
    font-size: 14px;
}

.button1 {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    width: 60px;
}

.bors {
    background-color: #898c93;

    height: 200px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bop {
    color: white;
    
}

.bodyTwo {
    height: 275px;
    width: auto;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.btwh {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.itemContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    height: 110px;
    width: 110px;
    border: 2px solid #3882f6;
    border-radius: 12px;
    align-items: center;
}

.btwt {
    width: 125px;
    font-size: 12px;
    color: #898c93;
    padding: 2px;
    text-align: center;
}

.bodyThree {
    height: 225px;
    background-color: #E5E7EB;

    display: flex;
    align-items: center;
}

.quote {
    font-size: 24px;
    font-style: italic;
    font-weight:150;
    color: #1F2937;
    margin: 150px;
    flex: auto;
}

.author {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
}

.bodyFour {

}

.action {

}

.sign {

}

.footer {

}